.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.ftIphone > img{
    width: 100%;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.ftIphone{
    width: 250px;
}

.containerPrice{
    height: 300px;
}

.price{
    margin-bottom: 140px;
}


.desc{
    font-size: 2rem;
    position: relative;
    top: 0;
    left: 0;
}


.cashPrice{
    font-size: 1.5rem;
    position: relative;
    top: 10%;
    left: 0%;

    span{
        font-size: 1rem;
    }
}

.termPrice{
    font-size: 1rem;
    position: relative;
    top: 16%;
    left: 0%;

    span{
        font-size: 1rem;
    }
}


.button button{
    
    padding: 15px 13px;
    border-radius: 30px;
    border: none;
    font-size: 1.12rem;
    font-family: var(--Font-Roboto);
    background-color: var(--Neon-Green);
    color: var(--Bright-White); 
    cursor: Pointer;
    transition: transform 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
}

.button button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--Neon-Green);
}

