.navbar_atributtes{
    height: 10dvh;
    max-width: 1420px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
    padding: 0 20px;
}

.ajuste{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.scrolled {
    z-index: 995;
    transition: background-color 0.5s, box-shadow 0.5s;
    background-color: var(--Dark-Navy);
    width: 100%;
    height: 10dvh;
    position: fixed;
    box-shadow: 0 0 13px rgba(0, 0, 0, 1);
  }

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.txt_logo{
    font-family: var(--Font-Exo);
    font-size: 1.5rem;
    color: var(--Eletric-Purple);
    line-height: 21px;
    letter-spacing: 3.5px;
    cursor: pointer;
}

.txt_logo span{
    color: var(--Neon-Green);
    display: block;
}


.list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}


.item a{
    color: var(--Bright-White);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    transition: color 0.3s;
}

.item a:hover{
    color: var(--Silver-Gray);
}


.icons_menu{
    display: flex;
    align-items: center;
    gap: 20px;
}


